* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --purple: #491395;
    --bone: #F9DBBB;
    --red: #9E0F0F;
    --babyblue: #19F5FF;
    --blue: #0F0090;
    --teal: #30D5C8;
    --green: #00CD1C;
    --darkpurple: #210942;
    --grey: #DFD9E2;
    --gold: #FFD500;



}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.navbar {
    width: 100%; /* Ensure navbar takes the full width */
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #491395 0%, #000000 100%);
    transition-duration: 200ms;
    height: 100px;
 
}

.navbar a {
    color: var(--grey);
    background-color: transparent;
    transition-duration: 200ms;
}

.navbar a:hover {
    background-color: transparent;
    color: var(--teal);
}

a.navbar-item.is-active {
    background-color: transparent;
    color: black;
}

.navbar, .footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Removes padding from the sides of the container */
  .container.is-fluid {
    padding-left: 0;
    padding-right: 0;
  }