:root {
    margin: 0;;
}

.card {
    padding: 20px;
    padding-top: 30px;
    background-color: black;
    text-align: center;
}

.card-content p {
    color: var(--bone)
}

.columns {
    margin-top: 0;
}

#portBtn {
    background-color: var(--darkpurple);
    border-style: none;
    color: var(--teal);
    transition-duration: 200ms;
}

#portBtn:hover {
    background-color: var(--teal);
    color: var(--darkpurple);
}